<div class="gradient">

</div>

<div class="center-start flex jc-c row ai-c">
    <div class="entry-container">
        <a href="/entry" class="neo-green bigs uppcase entry-text"> Entry!</a>
    </div>
    <div class="salutation-container flex column">
        <p class="hello-text ice">Hello, Madam, Sir</p>
        <p class="second-text ice">You are about to live an interactive experience through my <br> portfolio.</p>
        <p class="third-text ice">Above all, be confortable :) </p>
    </div>
</div>