<main class="flex row">
    <div class="flex column">
        <p class="ice">Contact me</p>
        <p class="ice sm neo-gray" style="margin-top: 0.3em">Let's get in touch</p>
        <div class="card">
            <p class="bigs neo-green ls" style="margin-top: 0.8em">How should i call you ?</p>
            <input class="name_input ice" placeholder="    Fullname">

            <p class="neo-green ls bigs" style="margin-top: 0.8em">Sending from</p>
            <input class="name_input ice" placeholder="    your.name@exemple.com">

            <p class="neo-green ls bigs" style="margin-top: 0.8em">Transmitted data</p>
            <textarea rows="8" class="ice" placeholder="   your message"></textarea>
        </div>

        <div>
            <button class="bigs send_button">Send message [enter]</button>
            <button class="bigs discard_button">Discard [esc]</button>
        </div>
    </div>
    <div class="interest_container">

        <p class="bigs">Centers of interest</p>
        <p class="ice sm neo-gray" style="margin-top: 0.4em; margin-bottom: 0.4em; font-size: 0.7em">the major ones because I’m a life enthusiast</p>
        <p class="bigs ls neo-green">❥ brain sports</p>
        <p class="bigs ls neo-green">❥ team sports</p>
        <p class="bigs ls neo-green">❥ martial arts</p>
        <p class="bigs ls neo-green">❥ british litterature</p>
        <p class="bigs ls neo-green">❥ graphic and paper drawing</p>
        <p class="bigs ls neo-green">❥ cultural exhibitions</p>
        <p class="bigs ls neo-green">❥ nature and parks</p>
        <p class="bigs ls neo-green">❥ jewellery making</p>

    </div>
</main>