<main class="flex row">
    <div class="main_container">
        <div class="flex row" style="margin-bottom: 1em">
            <img class="floating_img" src="assets/icons/narrow.svg" alt="image d'une flèche">
            <p class="ice" style="margin-left: 18em">Who am I ?</p>
        </div>
        <div class="flex row first_div">
            <p class="ice mfw neo-gray sm">
                The short introduction <br>
                <span class="align-right">of my life</span>
            </p>

            <p class="ice mfw sm">
                I have always been fascinated by the endless <br>
                possibilities of the internet and the ways it can <br>
                be leveraged to make our lives better. I decided <br>
                to pursue a career in cybersecurity to help <br>
                people develop incident response expertise, <br>
                enhance security and confidentiality  <br>
                awareness and innovate with new solutions. <br>
            </p>
        </div>

        <div class="flex row second_div">
            <p class="ice mfw neo-gray sm">Career and <br> development</p>
            <p class="ice mfw sm">
                Throughout my studies, I have worked with a<br>
                wide range of technologies, from front-end<br>
                frameworks like React, to design ones like<br>
                figma, photoshop and krita. I am passionate<br>
                about staying up-to-date with the latest<br>
                industry trends and tools and continually<br>
                learning new skills to improve my craft.<br>


            </p>
        </div>
        <div class="flex row third_div">
            <p class="ice mfw neo-gray sm">my main motivation</p>
            <p class="ice mfw sm">
                before finding my path in cybersecurity,<br>
                i studied architecture for 3 years.<br>
                what motivated my career change it that i know i<br>
                will never feel like i’m doing unnecessary work<br>
                because The world of cybercrime and<br>
                cybersecurity is constantly evolving. in<br>
                addition, being human and altruistic, feeling<br>
                good about my work - knowing that i’m helping<br>
                protect peoples' livelihoods and privacy - is a <br>
                very important purpose.<br>
            </p>
        </div>

    </div>
    <div style="margin-left: 5em">
        <img class="cat_image" src="assets/images/cat.png" alt="image d'un chat">
    </div>
    <div class="skills_container">

        <p class="bigs">Skills</p>
        <p class="ice">In constant evolution</p>
        <p class="bigs ls neo-green">html/css<br>
            javascript<br>
            project management<br></p>
        <p class="bigs ls neo-green">
            Git/github<br>
            sql/PHP<br>
            linux<br>
        </p>
        <p class="bigs ls neo-green">
            threat knwoledge<br>
            Problem solving<br>
            Analytic reasoning<br>
        </p>
        <p class="bigs ls neo-green">
            Adaptability
        </p>
        <p class="bigs ls neo-green">
            Creativity<br>
            Responsive design<br>
            UI/UX Design<br>
        </p>
        <p class="bigs ls neo-green">
            Creativity<br>
            Responsive design<br>
            UI/UX Design<br>
        </p>
        <p class="bigs ls neo-green">
            Collaboration<br>
            attention to detail<br>
            critical thinking<br>
        </p>
        <p class="bigs ls neo-green">
            Architecture<br>
            Technical drawing<br>
            Communication skills<br>
        </p>
    </div>
</main>














