<main class="center-start flex jc-c row ai-c">
    <div>
        <img class="ls warning-img" src="assets/images/warning.png" alt="image montrant un danger">
    </div>
    <div>
        <p class="ls ice uppcase" style="margin-bottom: 1em; line-height: 1.563em">Warning!</p>
        <p class="ms ice uppcase" style="margin-bottom: 0.5em">Your computer security has been compromised</p>
        <p class="ms ice uppcase">Hopefully I am here to help you get it back</p>
        <button class="ice uppcase custom-button" style="margin-top: 4em" onclick="window.location.href='/pages/home'">Resolve the problem</button>
    </div>
</main>