<main class="flex row">
    <div class="intro_card flex column">
        <p class="ice ms">
            CONGRATULATIONS ! <br>
            YOU have now access to my portfolio ! <br>
            welcome :) <br>
        </p>
        <p class="ice ms">
            I’m ready to protect your data and eliminate potential threats. <br>
            your personal data is your life, let’s protect it
        </p>
        <img class="intro_card_img" src="assets/images/leopard.png">
    </div>

    <div class="internship_card">
        <img class="intern_ship_card" src="assets/images/internship.png">
        <div class="text_container">
            <p class="ice neo-gray mfw" style="margin-top: 0.9em">From 3 to 4 months</p>
            <p class="ice mfw" style="margin-top: 1em">Location</p>
            <p class="bigs neo-green bfw ls">Paris and it's vicinity</p>
            <p class="ice mfw" style="margin-top: 1.5em">Goals</p>
            <p class="ice neo-gray mfw">I want to discover what it is <br>
                like to work as a <br>
                cybersecurity expert, <br>
                learn new skills, meet more <br>
                sophisticated specific <br>
                security requirements<br> and cultivate my cyber<br>
                awareness.</p>
            <p class="ice mfw" style="margin-top: 1.5em">My certifications</p>
        </div>
        <img class="certificate_img" src="assets/images/certificate.png">
    </div>

</main>